/* EasyCMS Styles */
.slideshow-left {
	float: left;
	width: 30%;
}

.slideshow-right {
	text-align: right;
	width: 68%;
	float: right;
}

.footer {
  clear: both;
}

.bg-primary {
	background-color: #008f22 !important;
	color: #ffffff !important;
}

.bg-secondary {
	background-color: #ffffff !important;
	color: #008f22 !important;
}

.btn-primary {
	background-color: #008f22 !important;
	color: #ffffff !important;
}

.btn-secondary {
	background-color: #ffffff !important;
	color: #008f22 !important;
}