<!doctype html>
<!-- EasyCMS -->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pure and True Holistic Therapies offer homemade natural products as well as a variety of relaxing treatments. Come and join the community to learn more.">
    <meta name="keywords" content="Holistic,Therapies,Therapy,Aromatherapy,Relax,Homemade,Natural,Organic,Pure,True">
    <meta name="author" content="Angela Keys">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>Pure & True | Holistic Therapies</title>

    <link rel="icon" href="{{wwwroot}}/pix/favicon.gif" type="image/gif">

    <!-- EasyCMS CSS -->
    <link rel="stylesheet" type="text/css" href="{{wwwroot}}/css/easycms.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{wwwroot}}/css/bs-blog.css">

  </head>
  <body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#">Sign-up for updates</a>
          </div>
          <div class="col-4 text-center">
            <img class="logo" src="{{wwwroot}}/pix/logo.png" alt="Pure and True Holistic Therapies logo" />
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm btn-outline-secondary" href="#">Book now</a>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          {{#sections_nav}}
            <a class="p-2 text-muted" href="?s={{section_link}}">{{section_name}}</a>
          {{/sections_nav}}
        </nav>
      </div>
     
      <br>
      <h1>Content management</h1>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-sort-tab" data-toggle="tab" href="#nav-sort" role="tab" aria-controls="nav-sort" aria-selected="true">Sort existing sections</a>
          <a class="nav-item nav-link" id="nav-add-tab" data-toggle="tab" href="#nav-add" role="tab" aria-controls="nav-add" aria-selected="false">Add a section</a>
        </div>
      </nav>

      {{#sections_manage}}
        <div class="card text-white bg-primary mb-3">
          <div class="card-header"><h5>{{section_name}}</h5><p>&nbsp;&nbsp;&nbsp;<a href="?action=edit&sid={{section_id}}"><i class="far fa-edit"></i></a></p></div>
          <div class="card-body">
            {{#content_manage}}
              <p class="card-text">{{content_name}}&nbsp;&nbsp;&nbsp;<a href="?action=edit&cid={{content_id}}"><i class="far fa-edit"></i></a>&nbsp;<a href="?action=delete&cid={{content_id}}"><i class="fas fa-trash"></i></a></p>
            {{/content_manage}}
            <a href="#" class="btn btn-secondary">Add page</a>
          </div>
        </div>
      {{/sections_manage}}
      <br>

      


    </div>

    <footer class="blog-footer footer">
      <p>&copy; {{year}} Pure & True Holistics | Site powered by <a href="https://dylankeys.com">EasyCMS</a></p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    <!-- Bootstrap JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>